<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{204,338}</string>
                <key>spriteSourceSize</key>
                <string>{400,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{204,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{174,332}</string>
                <key>spriteSourceSize</key>
                <string>{400,500}</string>
                <key>textureRect</key>
                <string>{{207,1},{174,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,24}</string>
                <key>spriteSize</key>
                <string>{124,322}</string>
                <key>spriteSourceSize</key>
                <string>{400,500}</string>
                <key>textureRect</key>
                <string>{{383,1},{124,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bavo.png</string>
            <key>size</key>
            <string>{508,340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8748e169ec6a4dc0f75fec70a194bc80:abdb0a4ce34021de3981349646260ae0:dd0c400484b8fb13a30febf092e4a05d$</string>
            <key>textureFileName</key>
            <string>bavo.png</string>
        </dict>
    </dict>
</plist>
