<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trai0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,499}</string>
                <key>spriteSourceSize</key>
                <string>{400,499}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trai1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,499}</string>
                <key>spriteSourceSize</key>
                <string>{400,499}</string>
                <key>textureRect</key>
                <string>{{400,0},{400,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trai2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,499}</string>
                <key>spriteSourceSize</key>
                <string>{400,499}</string>
                <key>textureRect</key>
                <string>{{800,0},{400,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ditrai.png</string>
            <key>size</key>
            <string>{1200,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c16810366a1f33149cecfc4c51999dad:555aa108e5de02f99d6f97f75654eb9c:d63d6140014276631b6a19cbd8127dac$</string>
            <key>textureFileName</key>
            <string>ditrai.png</string>
        </dict>
    </dict>
</plist>
