<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nem1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,500}</string>
                <key>spriteSourceSize</key>
                <string>{400,500}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nem2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,500}</string>
                <key>spriteSourceSize</key>
                <string>{400,500}</string>
                <key>textureRect</key>
                <string>{{400,0},{400,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nem.png</string>
            <key>size</key>
            <string>{800,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5517f5cf273ba5cba2bac4ce895afc5:de62315ed3ab07e25c226213dee8c724:1edf716b514acdad925b245400ddeef5$</string>
            <key>textureFileName</key>
            <string>nem.png</string>
        </dict>
    </dict>
</plist>
