<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nemtrai1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,500}</string>
                <key>spriteSourceSize</key>
                <string>{400,500}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nemtrai2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,500}</string>
                <key>spriteSourceSize</key>
                <string>{400,500}</string>
                <key>textureRect</key>
                <string>{{400,0},{400,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nemtrai.png</string>
            <key>size</key>
            <string>{800,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b58e5d453a74cf1f5f447c94d150220:3cf79a2612d3858d60eee0d5b965002c:549e931862286fb9d045ac48e65588f0$</string>
            <key>textureFileName</key>
            <string>nemtrai.png</string>
        </dict>
    </dict>
</plist>
